@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --text: #ffffff;
  --card-bg: rgba(184, 182, 182, 0.5);
  --button-bg: #d0d0d0;
  --hover: #c0c0c0; /* ambiance button hover */
  --accent: #818cf8;
  --accent2: #4b5563;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --text: #ffffff;
    --card-bg: rgba(184, 182, 182, 0.5);
    --button-bg: #d0d0d0;
    --hover: #c0c0c0;
  }
}

.green-theme {
  --bg: #0a0a0a;
  --text: #000000;
  --card-bg: rgba(10, 10, 10, 0.5);
  --button-bg: #282828;
  --hover: #303030; /* ambiance button hover */
  --accent: #22C55E;
  --accent2: #383838;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;

  transition: background-color 0.3s, color 0.3s;
}

.button-1 {
  background-color: var(--button-bg);
  color: var(--text);
  padding: 24px 4px;
  border-radius: 8px;
}
