@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --text: #9999b5;
  --text2: #231737;
  --card-bg: rgba(23, 23, 55, 0.5);
  --button-bg: #171737;
  --hover: #272747; /* ambiance button hover */
  --hover2: rgba(23, 23, 55, 0.8);
  --accent: #634d8a;
  --accent2: #362071;
}

.cloud-theme {
  --bg: #0a0a0a;
  --text: #7494b6;
  --text2: #4c56aa;
  --card-bg: rgba(184, 182, 182, 0.5);
  --button-bg: #eaeafe;
  --hover: #dadeee; /* ambiance button hover */
  --hover2: rgba(184, 182, 182, 0.2);
  --accent: #818cf8;
  --accent2: #c1d2e7;
}

.green-theme {
  --bg: #0a0a0a;
  --text: #000000;
  --text2: #0c5326;
  --card-bg: rgba(10, 10, 10, 0.5);
  --button-bg: #282828;
  --hover: #303030; /* ambiance button hover */
  --hover2: rgba(10, 10, 10, 0.8); /* hover over card bg */
  --accent: #22c55e;
  --accent2: #383838; /* 8 level diff from button-bg */
}

.night-theme {
  --bg: #0a0a0a;
  --text: #9999b5;
  --text2: #231737;
  --card-bg: rgba(23, 23, 55, 0.5);
  --button-bg: #171737;
  --hover: #272747; /* ambiance button hover */
  --hover2: rgba(23, 23, 55, 0.8);
  --accent: #634d8a;
  --accent2: #362071;
}

.sunset-theme {
  --bg: #0a0a0a;
  --text: #f8a882;
  --text2: #df6405;
  --card-bg: rgba(124, 51, 80, 0.5);
  --button-bg: #322129;
  --hover: #423139; /* ambiance button hover */
  --hover2: rgba(124, 51, 80, 0.8);
  --accent: #f78b43;
  --accent2: #7c3350;
}

.jade-theme {
  --bg: #0a0a0a;
  --text: #3b4742;
  --text2: #c8904a;
  --card-bg: rgba(57, 89, 76, 0.5);
  --button-bg: #507f6b;
  --hover: #588d76; /* ambiance button hover */
  --hover2: rgba(57, 89, 76, 0.8);
  --accent: #f8cf82;
  --accent2: #39594c;
}

.jstreet-theme {
  --bg: #0a0a0a;
  --text: #334941;
  --text2: #9e9f74;
  --card-bg: rgba(18, 61, 50, 0.5);
  --button-bg: #4c6860;
  --hover: #53746a; /* ambiance button hover */
  --hover2: rgba(18, 61, 50, 0.8);
  --accent: #e5e6a7;
  --accent2: #38574d;
}

.neon-theme {
  --bg: #0a0a0a;
  --text: #793763;
  --text2: #8d132a;
  --card-bg: rgba(103, 16, 75, 0.5);
  --button-bg: #895176;
  --hover: #9e5a87; /* ambiance button hover */
  --hover2: rgba(103, 16, 75, 0.8);
  --accent: #d62142;
  --accent2: #831529;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", Arial, Helvetica, sans-serif;

  transition: background-color 0.3s, color 0.3s;
}
