@import "tailwindcss";

:root {
  --bg: #0a0a0a;
  --text: #ffffff;
  --card-bg: rgba(184, 182, 182, 0.5);
  --button-bg: #d0d0d0;
  --hover: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --text: #ffffff;
    --card-bg: rgba(184, 182, 182, 0.5);
    --button-bg: #d0d0d0;
    --hover: #c0c0c0;
  }
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.button-1 {
  background-color: var(--button-bg);
  color: var(--text);
  padding: 24px 4px;
  border-radius: 8px;
}
